<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mensajería</title>
        <meta name="description" content="Mensajería">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div>
            <h1>Mensajería en Django</h1>
            
            <div>
                <p>{{ state }}</p>
            </div>

            <form method="POST" action="">
                {% csrf_token %}

                <label>Para: </label>
                <input type="email" name="to" required/><br>

                <label>Título: </label>
                <input type="text" name="title" required/><br>

                <label>Contenido: </label>
                <textarea name="text" required></textarea><br>

                <button type="submit">Enviar Correo</button>
            </form>
        </div>
    </body>
</html>